<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Spectral+SC:wght@400;700&display=swap" rel="stylesheet">
  <link rel="manifest" href="/manifest.json">
  <link rel="icon" href="/icon.png" type="image/png">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/icon.png">
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body class="bg-light d-flex flex-column min-vh-100">
<!-- Banner Section -->
<div id="banner" class="bg-primary text-white text-center py-1 mb-4">
  <h1 class="display-4 site-title">Blogs IV</h1>
</div>

<!-- Main Content Section -->
<div class="container flex-grow-1">
  <div class="row">
    <!-- Left Panel -->
    <div id="left-panel" class="col-md-2 mb-4 ml-0">
      <div class="card p-3">
        <% if current_user %>
          <h5 class="card-title">Welcome, <%= link_to current_user.username, current_user %></h5>
          <%= link_to 'Logout', logout_users_path, class: "btn btn-danger w-100" %>
        <% else %>
          <p class="card-text">Please <%= link_to 'Login', login_users_path %></p>
        <% end %>
      </div>
    </div>

    <!-- Main Panel -->
    <div id="main-panel" class="col-md-10">
      <%= yield %>
    </div>
  </div>
</div>

<!-- Footer Section -->
<div id="footer" class="bg-dark text-white text-center py-3 mt-4">
  <p class="mb-0">Copyright Yixuan Kuang &copy; 2024</p>
</div>
</body>
</html>
