<%= form_with(model: type, local: true) do |form| %>
  <% if type.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading">保存失败：</h4>
      <p>共发现 <%= pluralize(type.errors.count, "个错误") %>，导致该类型无法保存。</p>
      <ul>
        <% type.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, "名称", class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :rarity, "稀有度", class: "form-label" %>
    <%= form.number_field :rarity, class: "form-control" %>
  </div>

  <div class="d-grid gap-2">
    <%= form.submit "提交", class: "btn btn-primary" %>
  </div>
<% end %>