<%= form_with(model: color, local: true) do |form| %>
  <% if color.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading">保存失败：</h4>
      <p>共发现 <%= pluralize(color.errors.count, "个错误") %>，导致该颜色无法保存。</p>
      <ul>
        <% color.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, "名称", class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :code, "代码", class: "form-label" %>
    <%= form.text_field :code, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :opacity, "不不透明度", class: "form-label" %>
    <%= form.number_field :opacity, class: "form-control" %>
  </div>

  <div class="d-grid gap-2">
    <%= form.submit "提交", class: "btn btn-primary" %>
  </div>
<% end %>