<p style="color: green"><%= notice %></p>

<%= render @delivery_address %>

<div>
  <%= link_to "Edit this delivery address", edit_delivery_address_path(@delivery_address) %> |
  <%= link_to "Back to delivery addresses", delivery_addresses_path %>

  <%= button_to "Destroy this delivery address", @delivery_address, method: :delete %>
</div>
