<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Cookbook3</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<body class="welcome-page">
  <div class="container mt-5 text-center">
    <h1>Welcome to Cookbook3!</h1>
    <p class="lead">Explore our collection of delicious recipes.</p>

    <!-- æ·»åŠ  rect-btn ç±»æ¥åº”ç”¨çŸ©å½¢æ ·å¼ -->
    <%= link_to "ðŸ‘‰ Categories ðŸ‘ˆ", categories_path, class: "button-green" %>
    <%= link_to "ðŸ‘‰ Recipes ðŸ‘ˆ", recipes_path, class: "button-green" %>
  </div>
</body>
</html>